---
layout: base.njk
---

<main>
    <div class="container">
        
                <div class="box-1"> 
                    <list>
                        <item class=Nickname>
                            
                        </item>
                        <item class=Name>
                            
                        </item>
                        <item class=Class>
                            
                        </item>
                        <item class=Anarment>
                            <list>
                                <item class=Main>
                                    
                                </item>
                                <item class=Ammo>
                                    
                                </item>
                                <item class=MG>
                                    
                                </item>
                            </list>
                        </item>
                        <item class=Wheight>
                            
                        </item>
                        <item class=Length>
                            
                        </item>
                        <item class=Width>
                            
                        </item>
                        <item class=Height>
                            
                        </item>
                        <item class=Versions>
                            
                        </item>
                        <item class=RPM>
                            
                        </item>
                        <item class=Reload>
                            
                        </item>
                        <item class=engine>
                            <list>
                                <item class=rpmhp>
                                    
                                </item>
                                <item class=volume>
                                    
                                </item>
                            </list>
                        </item>
                        <item class=Production>
                            
                        </item>
                    </list>
                </div>
    </div>
</main>