---
layout: base.njk
---

 <main>
   <head>
      <title>TankMap</title>
   </head>
    <body>
        <div id="map-container"></div>
        <script src="./main.js" type="module"></script>
    </body>
 </main>