---
layout: base.njk
---

<main>
    <button id="Russia"> Russia </button>
    <div id="russiaModal" class="modal">
        <div class="russia-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Russia</h2>
            </div>
            <div class="modal-body">
                <image class="Picture">
                
                </image>
                <list>
                    <item class="Name">
                        <h3>

                        </h3>
                    </item>
                    <item class="Nickname">
                        <h4>

                        </h4>
                    </item>
                    <item class="Class">
                        <p>

                        </p>
                    </item>
                    <item class="Anarment">
                        <list>
                            <item class="Main">
                                <p>

                                </p>
                            </item>
                            <item class="Ammo">
                                <p>

                                </p>
                            </item>
                            <item class="MG">
                                <p>

                                </p>
                            </item>
                        </list>
                    </item>
                    <item class="Wheight">
                        <p>

                        </p>
                    </item>
                    <item class="Length">
                        <p>

                        </p>
                    </item>
                    <item class="Width">
                        <p>

                        </p>
                    </item>
                    <item class="Height">
                        <p>

                        </p>
                    </item>
                    <item class="Versions">
                        <p>

                        </p>
                    </item>
                    <item class="RPM">
                        <p>

                        </p>
                    </item>
                    <item class="Reload">
                        <p>

                        </p>
                    </item>
                    <item class="engine">
                        <list>
                            <item class="rpmhp">
                               <p>

                               </p> 
                            </item>
                            <item class="volume">
                                <p>
                                
                                </p>
                            </item>
                        </list>
                    </item>
                    <item class="Production">
                        <p>

                        </p>
                    </item>
            </list>
        </div>
    </div>
</main>